.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.field {
  position: relative;
  height: 500px;
  width: 500px;
  background: #fff;
  border: gray 2px solid;
  margin: 20px auto;
}

.bug {
  position: absolute;
  width: 25px;
  height: 25px;
  background: #000;
}

.hooks-main {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: black 2px solid;
  margin: 0 auto;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  background: lightcoral;
  opacity: 0.6;
  height: 25px;
  width: 50px;
  top: 0;
  margin-left: 0;
  border-right: 2px solid black;
}

#pointer {
  width: 50px;
  height: auto;
  position: relative;
  transform-origin: center 110px;
  display: block;
  margin: 0 auto;
  touch-action: none;
}
